[project]
	description = Open Sensor Platform project
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/hyau
[access "refs/for/refs/*"]
	read = group user/hyau
	push = group user/hyau
	label-Code-Review = -2..+2 group user/hyau
	label-Verified = -1..+1 group user/hyau
	rebase = group user/hyau
	removeReviewer = group user/hyau
	submit = group user/hyau
[access "refs/heads/*"]
	read = group user/hyau
	create = group user/hyau
	push = +force group user/hyau
	pushMerge = group user/hyau
[access "refs/tags/*"]
	push = +force group user/hyau
	pushTag = group user/hyau
	pushSignedTag = group user/hyau
